<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sitio de reclamos</title>
</head>
<body>
    <header>
        <h1>Sitio de Reclamos</h1>
    </header>
    <main>
        <form>
            <p>Ingresá tu usuario</p>
            <input
                class="clampo__field"
                type="text"
                placeholder="Usuario"
                id="usuario">
            <p>Ingresá tu contraseña</p>
            <input
            class="clampo__field"
            type="text"
            placeholder="Contraseña"
            id="contrasenia">
            <p>¿Has olvidado tu contraseña?</p>
            <input type="submit" value="Enviar" class="boton boton--primario">
        </form>
        <p>¿No tenés usuario?</p>
        <p>Registrate</p>
        
    </main>
    
</body>
</html>