<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nuevo Reclamo</title>
</head>
<body>
    <header>
        <div>
            <p>RECLAMOS</p>
        </div>
    </header>
    <main>
        <h1>Nuevo Reclamo</h1>
        <div>
            <h2>Id:</h2>
            <p>Tipo de espacio</p>
            <p></p>
            <p>Unidad:</p>
            <p>Área común:</p>
            <p>Estado:</p>
            <p>Descripción:</p>
            <p>Fotos:</p>
            <button>+ Cargar imagen</button>
        </div>
        <button>Cargar reclamo</button>
    </main>
    
</body>
</html>