<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro dueño/inquilino</title>
</head>
<body>
    <header>
        <h1>Registro de dueño/inquilino</h1>
    </header>
    <main>
        <form class="formulario">
            <div class="campo">
                <label class="campo__label" for="nombre">Ingresá tu nombre</label>
                <input
                    class="campo__field"
                    type="text"
                    placeholder="Nombre"
                    id="nombre">
            </div>
            <div class="campo">
                <label class="campo__label" for="apellido">Ingresá tu apellido</label>
                <input
                    class="campo__field"
                    type="text"
                    placeholder="Apellido"
                    id="apellido">
            </div>
            <div class="campo">
                <label class="campo__label" for="usuario">Ingresá tu usuario</label>
                <input
                    class="campo__field"
                    type="text"
                    placeholder="Usuario"
                    id="usuario">
            </div>
            <div class="campo">
                <label class="campo__label" for="contrasenia">Ingresá tu contraseña</label>
                <input
                    class="campo__field"
                    type="text"
                    placeholder="Contraseña"
                    id="contrasenia">
            </div>
            <div class="campo">
                <label class="campo__label" for="contrasenia2">Repite tu contraseña</label>
                <input
                    class="campo__field"
                    type="text"
                    placeholder="Contraseña"
                    id="contrasenia">
            </div>
            <div class="campo">
                <label class="campo__label" for="edificio">Ingrese la dirección del edificio</label>
                <input
                    class="campo__field"
                    type="text"
                    placeholder="Edificio"
                    id="edificio">
            </div>
            <div class="campo">
                <label class="campo__label" for="piso">Ingrese el piso</label>
                <input
                    class="campo__field"
                    type="number"
                    placeholder="Piso"
                    id="piso">
            </div>
            <div class="campo">
                <label class="campo__label" for="piso">Ingrese la unidad</label>
                <input
                    class="campo__field"
                    type="number"
                    placeholder="Unidad"
                    id="unidad">
            </div>
            <div class="campo">
                <label class="campo__label" for="piso">¿Es dueño o inquilino?</label>
                
            </div>
        </form>
    </main>
    
</body>
</html>