<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mis Reclamos</title>
</head>
<body>
    <header>
        <div>
            <p>RECLAMOS</p>
        </div>
    </header>
    <main>
        <p>Bienvenido/a</p>
        <div>
            <h2>Mis Reclamos</h2>
        </div>
       
        <div>
            <button>Filtros</button>
        </div>
        <div>
            <h3>Id:</h3>
            <p>Unidad:</p>
            <p>Descripción:</p>
            <p>Estado:</p>
        </div>
        <button>+ Nuevo reclamo</button>
        
    </main>
    
</body>
</html>