<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reclamos</title>
</head>
<body>
    <header>
        <div>
            <p>RECLAMOS</p>
        </div>
    </header>
    <main>
        <div>
            <h1>Reclamos:</h1>
            <h1>Independencia 200</h1>
        </div>
        <div>
            <p>Reclamo</p>
        </div>

        <div>
            <button>Cargar reclamo</button>
        </div>
    </main>

</body>
</html>